*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --ff-primary:  'Open Sans Condensed', sans-serif;
    --ff-secondary: 'Yanone Kaffeesatz', sans-serif;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-blue: #71A3CF;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}
html {
    scroll-behavior: smooth;
}
body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}
img {
    display: block;
    max-width: 100%;
}
strong {
    font-weight: var(--fw-bold)
}
section {
    padding: 5em 2em;
}
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}
h1 { font-size: var(--fs-h1)}
h2 { font-size: var(--fs-h2)}
h3 { font-size: var(--fs-h3)}
.section-title {
    margin-bottom: .25em;
}
.section-title-hero {
    font-weight: var(--fw-reg);
}
.section-title-hero strong {
    display: block;
}
.section-subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}
.section-subtitle-hero,
.section-subtitle-about {
    background: var(--clr-blue);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    box-shadow: var(--bs);
}

/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5,0,.5,1);
}
.nav-list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav-link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}
.nav-link:hover{
    color: var(--clr-blue);
}
.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 2em;
    top: 2em;
    outline: none;
    z-index: 101;
    position: fixed;
}
.nav-open .nav {
    transform: translateX(0);
}
.nav-open .nav-toggle {
    position: fixed; 
}
.nav-open .hamburger {
    transform: rotate(.625turn);
}
.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-8px);
}
.nav-open .hamburger::after {
    opacity: 0;
}
.hamburger {
    display: block;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-blue);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}
.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}
.hamburger::before {
    top: 8px;
}
.hamburger::after {
    bottom: 8px;
}

/*HERO SECTION*/
.hero {
    position: relative;
    text-align: center;
}
.hero-img{
    box-shadow: var(--bs);
    width: 200px;
    margin: 0 auto;
}
/*MY SKILL SECTION*/
.myskills {
    background: var(--clr-dark);
    color: var(--clr-light);
    background-image: url(../img/mywork.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    text-align: center;
}
.section-title-myskills {
    color: var(--clr-blue);
    position: relative;
}
.section-title-myskills:after {
    content: '';
    display: block;
    width: 1em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.5;
}
.skills  {
    margin-bottom: 4em;
}
.skill {
    max-width: 500px;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-blue);
    color: var(--clr-light);
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}
.btn:hover {
    transform: scale(1.1);
}
/*ABOUT ME SECTION*/
.about-me {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.about-me-img {
    box-shadow: var(--bs);
    position: relative;
    width: 200px;
    margin: 0 auto;
}
.section-subtitle-about {
    box-shadow: var(--bs);
}
/*MY WORK SECTION */
.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}
 .portfolio {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
.portfolio-item {
    overflow: hidden;
    background: var(--clr-dark);
}
.portfolio-img {
    transition: transform 750ms cubic-bezier(.5,0,.5,1),
                opacity 250ms linear;
}
.portfolio-img:hover {
    transform: scale(.9);
    opacity: .6;
}
/*FOOTER SECTION*/
footer {
    background: #000;
}
footer ul {
    margin: 0;
}
.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
li {
    padding: 0 1em;
    font-size: var(--fs-h3);
}
.social-list a {
    text-decoration: none;
    color: var(--clr-blue);
}
.social-list a:hover {
    color: var(--clr-dark);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
    .skills {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }    
    .skill + .skill {
        margin-left: 2em;
    }
}
@media (min-width: 600px) {
    .hero {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
        text-align: left;
    }
    .hero-img {
        grid-area: img;
        min-width: 250px;
        min-height: 250px;
        position: relative;
    }
    .section-subtitle-hero {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 4.5em);
    }
    .about-me {
        display: grid;
        grid-template-columns: 1fr 150px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 3em;
        text-align: left;
    }
    .section-title-about {
        grid-area: title;
    }
    .section-subtitle-about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -2em;
        width: calc(100% + 3em);
    }
    .about-me-img {
        grid-area: img;
        top: 2em;
    }
     .portfolio {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}